* {
  font-family: Verdana, sans-serif;
}

body {
  background: rgb(194, 194, 194);
  background: linear-gradient(90deg, rgba(194, 194, 194, 1) 0%, rgba(86, 107, 138, 1) 100%);
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; 
}

.website-bar {
  background-color: rgb(194, 194, 194);
  padding: 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: #A28CFF;
  font-size: 35px;
}

.navigation,
.search-bar,
.user-actions {
  display: flex;
  align-items: center;
}

.navigation a,
.user-actions a {
  margin-left: 10px;
}

.search-bar input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.search-bar button {
  padding: 5px 10px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
}
.welcome-message {
  margin-left: 20px;
}

.bottom-bar {
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(194, 194, 194);
  padding: 10px;
  display: flex;
  flex-wrap: wrap; /* Allow content to wrap */
  justify-content: space-between;
  align-items: center;
}

.centered-text {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.right-aligned-text {
  flex: 0 0 auto;
  margin-right: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.book-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.book-item h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.book-item p {
  font-size: 16px;
  margin-bottom: 10px;
}


.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-container p {
  margin-bottom: 8px;
}

.profile-container label {
  display: block;
  margin-bottom: 5px;
}

.profile-container input[type="text"] {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.profile-container button[type="submit"] {
  padding: 10px 20px;
  background-color: #A28CFF;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.book-details {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.book-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.book-details h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.book-details p {
  font-size: 16px;
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #A28CFF;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

